.intro-text
{
	vertical-align: middle;
	text-align: center;
   	color: white;
}

.intro-img
{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#cust-link-1
{
	color: #1524FC;
}

#cust-link-2
{
	color: #58FA58;
}


.jumbotron
{
	background: url('http://img513.imageshack.us/img513/2160/galactica2560x1600.jpg') no-repeat center center fixed;
}

#intro-dp
{
	max-width: 150px;
	height: auto;
}

#edu-logo
{
	max-width: 250px;
	height: auto;
}

#chance-img
{
	max-width: 250px;
	height: auto;
	background-position: 25% 50%;
}

#thesis-img
{
	max-width: 300px;
	height: auto;
}

#cansat-img
{
	max-width: 322px;
	height: auto;
}

#naca-img
{
	max-width: 325px;
	height: auto;
}

#iisc-img
{
	max-width: 245px;
	height: auto;
}

#hover-img
{
	max-width: 262px;
	height: auto;
}

.glyphicon.glyphicon-wrench
{
	font-size: 100px;
	text-align: center;
	vertical-align: middle;
	display: block;
}

.glyphicon.glyphicon-stats
{
	font-size: 100px;
	text-align: center;
	vertical-align: middle;
	display: block;
}

.glyphicon.glyphicon-cog
{
	font-size: 40px;
	text-align: center;
	vertical-align: middle;
	display: block;
}

.glyphicon.glyphicon-road
{
	font-size: 40px;
	text-align: center;
	vertical-align: middle;
	display: block;
}

.glyphicon.glyphicon-phone
{
	font-size: 40px;
	text-align: center;
	vertical-align: middle;
	display: block;
}

.glyphicon.glyphicon-book
{
	font-size: 40px;
	text-align: center;
	vertical-align: middle;
	display: block;
}

.fa.fa-linkedin-square
{
	font-size: 40px;
	text-align: center;
	vertical-align: middle;
	display: block;
	color: white;
}

.glyphicon.glyphicon-envelope
{
	font-size: 40px;
	text-align: center;
	vertical-align: middle;
	display: block;
	color: white;
}

.glyphicon.glyphicon-save
{
	font-size: 40px;
	text-align: center;
	vertical-align: middle;
	display: block;
	color: white;
}
