.intro-text
{
	vertical-align: middle;
	text-align: center;
   	color: white;
	text-shadow: black 0.3em 0.3em 0.3em;
}

.intro-img
{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.jumbotron
{
	background: url('http://p1.pichost.me/i/26/1486603.jpg') no-repeat center center fixed;
}

#intro-dp
{
	max-width: 125px;
	height: auto;
}

#edu-logo
{
	max-width: 250px;
	height: auto;
}

#chance-img
{
	max-width: 250px;
	height: auto;
	background-position: 25% 50%;
}

#thesis-img
{
	max-width: 300px;
	height: auto;
}

#cansat-img
{
	max-width: 325px;
	height: auto;
}

#naca-img
{
	max-width: 325px;
	height: auto;
}

#iisc-img
{
	max-width: 375px;
	height: auto;
}

#hover-img
{
	max-width: 270px;
	height: auto;
}

.glyphicon.glyphicon-wrench
{
	font-size: 100px;
	text-align: center;
	vertical-align: middle;
	display: block;
}

.glyphicon.glyphicon-stats
{
	font-size: 100px;
	text-align: center;
	vertical-align: middle;
	display: block;
}

